body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.navbar {
  background: #333;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

h2 {
  margin-top: 0;
  border-left: 5px solid #ff9100;
  padding-left: 10px;
}

.order-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.order-box {
  background: #fff5e6;
  border-left: 5px solid orange;
  padding: 15px;
  border-radius: 8px;
}

.order-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.order-items {
  margin: 10px 0;
  padding-left: 18px;
}

button {
  background: #0066cc;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
}

button:hover {
  background: #1a8cff;
}

.ready {
  background: #d7ffd9;
  border-left: 5px solid #28a745 !important;
}

.ready button {
  background: #28a745;
}

.ready button:hover {
  background: #49c264;
}

/* NAVBAR NUEVA */
.navbar {
  background: #2b2b2b;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between; /* Título left, logout right */
  align-items: center;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
}

.nav-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-logout {
  color: #ffcccb;
  text-decoration: none;
  font-size: 1rem;
  padding: 8px 14px;
  border-radius: 6px;
  background: #444;
  transition: 0.2s ease;
}

.btn-logout:hover {
  background: #666;
  color: #ffffff;
}


/* Toast / Alerta inferior tipo Burger King */
.toast {
  position: fixed;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  background: #28a745;
  color: white;
  padding: 14px 22px;
  border-radius: 6px;
  font-size: 1rem;
  min-width: 260px;
  text-align: center;
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 9999;
}

.toast.show {
  bottom: 20px;
  opacity: 1;
}

.noti-success {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #198754;   /* verde éxito */
    color: white;
    padding: 14px 20px;
    text-align: center;
    font-size: 17px;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.6s ease;
}

.noti-success.hide {
    opacity: 0;
}
