{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Iniciar Sesión</title>

  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body id="bodyLogin" class="empleado-bg">

<!-- NAVBAR -->
<nav class="login-navbar">
    <div class="nav-container">
        <a href="/" class="login-logo">
            <img src="{% static 'img/restfreshco_logo.png' %}" alt="RestFreshCo">
        </a>

        <button class="nav-volver" onclick="window.location.href='/'">
            Volver
        </button>
    </div>
</nav>

<!-- LOGO CENTRAL -->
<div class="logo-container">
    <img src="{% static 'img/rest_freshco_logo1.png' %}" alt="RestFreshCo" class="logo-grande">
</div>

<!-- ALERTA -->
<div id="login-alert" class="login-alert oculto"></div>

<!-- LOGIN -->
<div class="login-wrapper">
  <div class="login-card">

    <h2 id="login-title">Login de Empleado</h2>
    <p class="subtitle">Ingresa tus credenciales</p>

    <form method="post" action="{% url 'login_general' %}">
      {% csrf_token %}
      <input type="hidden" id="tipoLogin" name="tipoLogin" value="empleado">

      <!-- SWITCH -->
      <div class="switch-row">
        <span>Empleado</span>
        <label class="switch">
          <input type="checkbox" id="rolSwitch">
          <span class="slider"></span>
        </label>
        <span>Administrador</span>
      </div>

      <!-- USUARIO -->
      <div class="input-group">
        <input type="text" name="username" required>
        <label>Usuario</label>
      </div>

      <!-- CONTRASEÑA -->
      <div class="input-group">
        <input type="password" name="password" required>
        <label>Contraseña</label>
      </div>

      <button type="submit" id="btnLogin" class="btn-login empleado">
        Iniciar Sesión
      </button>
    </form>

  </div>
</div>

<script src="{% static 'js/login.js' %}"></script>

{% if messages %}
<script>
  {% for message in messages %}
    showLoginAlert("{{ message }}");
  {% endfor %}
</script>
{% endif %}

</body>
</html>
