{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>HACER MENU PARA MOSTRAR LOS PLATILLOS DEL DIA</h1>
    <button onclick="window.location.href='/'">Volver</button>
    <div id="acciones" style="text-align: center; margin-top: 20px; display: none;">
    <button id="btnIrMenu">Ir al Menú</button>
  </div>

  <script src="{% static 'index.js' %}"></script>
</body>
</html>


<!--boton volver pruebas: <button onclick="window.location.href='/'">Volver</button>-->